$break-small: 959px;

::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

::ng-deep .mat-checkbox-inner-container {
  margin-top: 3px !important;
}

h2 {
  text-align: center;
  font-family: "bold";
  font-size: 28px;
  line-height: 30pt;
  color: #1e2659;
}

:host {
  .wrapper {
    display: flex;
    justify-content: center;

    background: #fff;
    padding: 100px;
    .mat-elevation-z24 {
      padding: 30px;
    }

    .center {
      width: 1040px;

      background: #fff;

      h1 {
        text-align: center;
        font-family: "bold";
        font-size: 26px;
      }
    }

    .flex {
      display: flex;
      padding: 40px;

      .left {
        width: 360px;
        margin-right: 20px;

        form {
          mat-form-field {
            width: 100%;
          }
        }
      }

      .right {
        img {
          height: 350px;
        }
      }
    }

    @media screen and (max-width: $break-small) {
      padding: 35px;
      margin: 0px;
      width: auto;
      display: inline-block;

      .center {
        width: 100%;
      }
      .left {
        width: 100%;
        margin-right: 0px;
      }

      .flex {
        padding: 0px;

        .left {
          width: 100%;
          margin-right: 0px;
        }
      }

      .mat-elevation-z24 {
        padding: 0px;
      }
    }
  }

  a {
    font-style: italic;
  }

  .submitbutton {
    background: #1f2556;
    color: #fff;
    width: 400px;
    margin-right: 10px;

    @media screen and (max-width: $break-small) {
      width: auto;
    }
  }

  .share {
    position: relative;
    padding: 100px;

    .button {
      display: flex;
      justify-content: center;
      padding: 10px 0 40px;
    }

    h1 {
      margin-bottom: 50px;
      font-size: 28px;
    }

    p {
      text-align: center;
      font-size: 18px;
    }

    .outer {
      display: flex;
      justify-content: center;
      margin: 50px;

      .border {
        display: flex;
        justify-content: center;
        background: #f2f2f2;
        padding: 60px;

        .component {
          app-trend-share {
          }
        }
      }
    }
  }
}
