<div class="wrapper" [class.basic]="basic" [ngStyle.lt-md]="{'justify-content': 'center', 'width': '0'}">

    <div class="flex">

        <div class="text">

            {{ basic ? 'SHARE' : 'SHARE NOW -' }}

        </div>

        <div class="social">

            <img src="/assets/trend-share-facebook.png">

        </div>

        <div class="social">

            <img src="/assets/trend-share-twitter.png">

        </div>

        <div class="social">

            <img src="/assets/trend-share-linkedin.png">

        </div>

        <div class="social" style="padding-top: 10px;">

            <img src="/assets/trend-share-mail.png">

        </div>

    </div>

</div>
