:host {
  $break-small: 959px;

  .continuum {
    @media screen and (max-width: $break-small) {
      padding-top: 50px;
      margin-top: 100px;
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 50px;
      margin-bottom: 60px;

      .title {
        text-align: center;
        font-family: bold;
        font-size: 35px;
      }
    }
  }

  h1 {
    color: #e53340;
  }

  .wrapper-mob {
    .content {
      .title {
        background: #e53340;
      }
    }

    .description {
      background: #fff;
      position: relative;

      .left {
        color: #e53340;
      }
    }
  }

  .column {
    ol > li:before {
      background: #e53340;
    }
  }

  .wrapper {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: -200px;

      .title {
        background: #e53340;
      }
    }

    .description {
      position: relative;

      background: #fff;

      width: 980px;
      padding: 30px;

      .left {
        color: #e53340;
      }

      .right {
        position: absolute;
        right: 75px;
        top: 0;

        img {
          height: 180px;
        }
      }
    }

    .surveys {
      div {
        margin: 100px;

        text-align: center;

        img {
          width: 1040px;
        }
      }
    }
  }
}
