:host {
  h1 {
    color: #e53340;
  }

  .wrapper-mob {
    .content {
      .title {
        background: #e53340;
      }
    }

    .description {
      background: #fff;
      position: relative;

      padding: 30px;

      .left {
        color: #e53340;
      }
    }
  }

  .column {
    ol > li:before {
      background: #e53340;
    }
  }

  .wrapper {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: -200px;

      .title {
        background: #e53340;
      }
    }

    .description {
      position: relative;

      background: #fff;

      width: 980px;
      padding: 30px;

      .left {

        color: #e53340;
      }

      .right {
        position: absolute;
        right: 75px;
        top: 0;
    
        img {
          height: 180px;
        }
      }
    }

    .surveys {
      div {
        margin: 100px;

        text-align: center;

        img {
          width: 1040px;
        }
      }
    }
  }
}
