<div fxLayout="column" fxHide.gt-sm style="background: #FFFFFF; margin-top: 20px; margin-bottom: 20px">
    <div fxFlex style="padding: 20px">
        <div fxLayout="row">
            <div style="height: 150px" fxFlex="90">
                <h1 fxFlex.lt-md="100" fxLayoutAlign="left center" [innerHTML]="title"></h1>
            </div>
            <div style="height: 150px" fxLayoutAlign="center center">
                <button type="button" (click)=toggleDescription()>
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="expanded">
            <div *ngFor="let p of paragraphs">
                <p fxFlex.lt-md="100" [innerHTML]="p"></p>
            </div>
        </div>
    </div>
    <div fxFlex.lt-md="0 1 100">
        <img [src]="imgsrc" width="100%">
    </div>
</div>

<div class="lower" fxHide.lt-md="column" style="background: #FFFFFF">
    <h1 fxFlex.lt-md="100" [innerHTML]="title"></h1>

    <div class="image" fxFlex.lt-md="50" [ngClass.lt-md]="{'image': false}">
        <img [src]="imgsrc">
    </div>

    <div *ngFor="let p of paragraphs">
        <p [innerHTML]="p"></p>
    </div>
</div>