h1 {
    color: #01b4b9;
  }
  
.lower {
    position: relative;
    padding: 20px;
    padding-bottom: 0;

    background: #fff;
    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
      font-size: 18pt;
      line-height: 30pt;
      margin: 0;
    }

    p {
      width: 400px;
    }

    .image {
      position: absolute;

      right: -30px;
      top: 70px;
margin-bottom: 0px;
      img {
        height: 440px;
      }
    }
  }