<div class="wrapper" [ngClass.lt-md]="{'wrapper-mob':true, 'wrapper': false}">

    <app-trend-header image="/assets/trend3-bg.jpeg" fxHide.lt-md></app-trend-header>

    <div class="content">
        <div class="title" fxLayout.lt-md="column">
            <div class="left" [innerHTML]="translationService.data?.trend_3_title"></div>
            <div class="right" fxLayoutAlign.lt-md="center">
                <img src="/assets/trend3-icon.png">
            </div>
        </div>
        <div class="description">
            <div class="left">
                <h1 style="margin: 0" [innerHTML]="translationService.data?.trend_3_header_list_title"></h1>
                <ul>
                    <li [innerHTML]="translationService.data?.trend_3_header_list_item_1"></li>
                    <li [innerHTML]="translationService.data?.trend_3_header_list_item_2"></li>
                    <li [innerHTML]="translationService.data?.trend_3_header_list_item_3"></li>
                    <li [innerHTML]="translationService.data?.trend_3_header_list_item_4"></li>
                </ul>
            </div>
            <div class="right" fxLayoutAlign.lt-md="center">
                <a (click)="scrollTo('download')">
                    <img src="/assets/trend3-download.png">
                </a>
            </div>
        </div>


    </div>
</div>

<app-trend-share></app-trend-share>

<div fxLayout.lt-md="column" fxLayoutAlign="center">

    <div class="column">

        <h1 [innerHTML]="translationService.data?.trend_3_block_1_title"></h1>

        <p [innerHTML]="translationService.data?.trend_3_block_1_paragraph_1"></p>
        <p [innerHTML]="translationService.data?.trend_3_block_1_paragraph_2"></p>

    </div>

</div>

<div fxHide.lt-md class="col flex-center" style="background: #fff; padding: 100px 0 50px 0">

    <div class="center">

        <img usemap="#image-map" src="/assets/trend3-chart.png"
            style="width: 860px; position: relative; top: 0; left: 0;">

        <map name="image-map">
            <area (click)="zoneClick($event)" alt="Digital Security" title="Digital Security" coords="292,209,86"
                shape="circle" target="trend_3_bubble_security">
            <area (click)="zoneClick($event)" alt="Loss of Privacy" title="Loss of Privacy"
                target="trend_3_bubble_privacy" coords="194,368,63" shape="circle">
            <area (click)="zoneClick($event)" alt="Digital Distraction" title="Digital Distraction"
                target="trend_3_bubble_distraction" coords="488,369,106" shape="circle">
            <area (click)="zoneClick($event)" alt="Data Gluttony" title="Data Gluttony" target="trend_3_bubble_gluttony"
                coords="574,170,85" shape="circle">
            <area (click)="zoneClick($event)" alt="Codified Bias" title="Codified Bias" target="trend_3_bubble_bias"
                coords="715,323,64" shape="circle">
        </map>
        <div *ngIf="expanded" class="callout" [style.left]="left + 'px'" [style.top]="top + 'px'"
            (click)="onCloseClick()" @fadeIn>
            <div class="left">
                <div class="title" [style.color]="color">{{ title }}</div>
                <div class="cleft" [innerHTML]="callout"></div>
            </div>
            <div class="cright" (click)="onCloseClick()">x</div>
        </div>
    </div>
</div>

<div fxHide fxShow.lt-md class="col flex-center" style="padding: 50px 50px 0;">
    <div class="center">
        <div class="bars" *ngFor="let b of bubbles">
            <app-trend-horizontal-expander color="#eb5f1e" [icon]="b.icon" [title]="translationService.data[b.title]"
                [callout]="translationService.data[b.callout]">
            </app-trend-horizontal-expander>
        </div>
        <br><br>
        <img style="padding: 20px;" width="100%" src="/assets/mobile/LessControl@2x.png">
    </div>
</div>

<div class="col flex-center" style="background: #fff; padding: 0 100px">

    <div class="center">

        <h1 class="survey-title">ALTRAN – 2019 SURVEY</h1>

        <div class="survey">
            <img width="400px" src="/assets/mobile/Asset 9@2x.png">
        </div>
    </div>

</div>

<div class="col flex-center" style="padding: 50px 50px 0;">

    <div class="column">

        <h1 [innerHTML]="translationService.data?.trend_3_block_2_title"></h1>
        <p [innerHTML]="translationService.data?.trend_3_block_2_description"></p>

        <div class="bars">

            <app-trend-horizontal-expander [title]="translationService.data?.trend_3_horizontal_1_title"
                [callout]="translationService.data?.trend_3_horizontal_1_callout" icon="/assets/trend3-baricon-1.png"
                color="#DA6834"></app-trend-horizontal-expander>

            <app-trend-horizontal-expander [title]="translationService.data?.trend_3_horizontal_2_title"
                [callout]="translationService.data?.trend_3_horizontal_2_callout" icon="/assets/trend3-baricon-2.png"
                color="#DA6834"></app-trend-horizontal-expander>

            <app-trend-horizontal-expander [title]="translationService.data?.trend_3_horizontal_3_title"
                [callout]="translationService.data?.trend_3_horizontal_3_callout" icon="/assets/trend3-baricon-3.png"
                color="#DA6834"></app-trend-horizontal-expander>

            <app-trend-horizontal-expander [title]="translationService.data?.trend_3_horizontal_4_title"
                [callout]="translationService.data?.trend_3_horizontal_4_callout" icon="/assets/trend3-baricon-4.png"
                color="#DA6834"></app-trend-horizontal-expander>

            <app-trend-horizontal-expander [title]="translationService.data?.trend_3_horizontal_5_title"
                [callout]="translationService.data?.trend_3_horizontal_5_callout" icon="/assets/trend3-baricon-5.png"
                color="#DA6834"></app-trend-horizontal-expander>

        </div>

    </div>

</div>

<app-trend-download></app-trend-download>
<app-trend-footer 
    color="#5f4f9b"
    arrowImage="/assets/Trend04-pg05@2x-cropped.png"
    subtitle="SEE NEXT TREND"
    title="{{translationService.data?.trend_4_intro_title}}"
    icon="/assets/trend4-icon.png" link="/trends/04-FOCUS-ON-STELLAR-AI-FUNDAMENTALS">
</app-trend-footer>