:host {
  h1 {
    color: #eb5f1e;
  }

  .callout {
    margin: 20px 0;

    transition: all 1s;

    position: absolute;
    z-index: 100;
    display: flex;

    background: #fff;

    width: 200px;
    border: 1px solid #ddd;
    padding: 30px 30px 30px 30px;
    flex: 1;

    .left {
      .title {
        font-size: 22px;
        font-family: "demi";
      }
    }

    .cright {
      flex: 0 1 20px;
      margin-left: 10px;
      font-size: 28px;
      font-family: "regular";

      color: #666;
      cursor: pointer;

      &:hover {
        color: rebeccapurple;
        font-weight: bold;
      }
    }
  }

  .wrapper-mob {
    .content {
      .title {
        background: #eb5f1e;
      }
    }

    .description {      
      .left {
        color: #eb5f1e;        
      }
    }
  }

.column {
  ol > li:before {
    background: #eb5f1e;
  }
}

  .wrapper {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: -200px;

      .title {
        position: relative;

        background: #eb5f1e;

        width: 980px;
        padding: 30px;

        .left {
          display: flex;
          align-items: center;

          width: 500px;
          height: 240px;

          font-size: 50px;
          font-weight: bold;
          line-height: 60px;

          color: #fff;
        }

        .right {
          position: absolute;
          right: 70px;
          top: 0;

          img {
            height: 300px;
          }
        }
      }
    }

    .description {
      position: relative;

      background: #fff;

      width: 980px;
      padding: 30px;

      .left {

        color: #eb5f1e;
      }

      .right {
        position: absolute;
        right: 75px;
        top: 30px;

        img {
          height: 180px;
        }
      }
    }
  }

  .survey {
    background: #f2f2f2;
    padding: 30px;
    color: #202556;
    font-family: "bold";
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;

    margin-bottom: 20px;

    span {
      color: #eb5f1e;
    }
  }
}
