@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "regular";
  src: url("/assets/fonts/721263/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src: url("/assets/fonts/721263/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),
    url("/assets/fonts/721263/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),
    url("/assets/fonts/721263/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),
    url("/assets/fonts/721263/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype");
}

@font-face {
  font-family: "demi";
  src: url("/assets/fonts/721269/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
  src: url("/assets/fonts/721269/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"),
    url("/assets/fonts/721269/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"),
    url("/assets/fonts/721269/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),
    url("/assets/fonts/721269/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype");
}

@font-face {
  font-family: "bold";
  src: url("/assets/fonts/721281/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
  src: url("/assets/fonts/721281/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"),
    url("/assets/fonts/721281/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),
    url("/assets/fonts/721281/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),
    url("/assets/fonts/721281/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype");
}

@font-face {
  font-family: "heavy";
  src: url("/assets/fonts/721287/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?#iefix");
  src: url("/assets/fonts/721287/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?#iefix") format("eot"),
    url("/assets/fonts/721287/5c57b2e2-f641-421e-a95f-65fcb47e409a.woff2") format("woff2"),
    url("/assets/fonts/721287/181c847e-cdbc-43d5-ae14-03a81c8953b4.woff") format("woff"),
    url("/assets/fonts/721287/045d1654-97f2-4ff0-9d24-21ba9dfee219.ttf") format("truetype");
}

$break-small: 959px;

h1 .survey-title {
  color: #1E2659;

  @media screen and (max-width: $break-small) {
    font-size: 25pt;
    font-family: "demi";
    line-height: 40pt;
  }
}

body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;

  font-family: "regular";
  line-height: 30px;
}

* {
  outline: none;
}

.flex-left {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 50px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;

  font-family: "heavy";

  @media screen and (max-width: $break-small) {
    font-size: 30pt;
    line-height: 40pt;
  }
}

.column {
  ol {
    counter-reset: item;
    margin: 0;
    padding-left: 0;
  }

  ol > li {
    counter-increment: item;
    list-style: none-inside;
    margin: 50px 0;
    overflow: hidden;
    font-size: 18pt !important;
    display: block;
    line-height: 32.4pt;
  }

  ol > li:before {
    content: counter(item);
    margin-right: 20px;
    padding: 8px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    background: #fe862c;
    color: #fff;
    text-align: center;
    font-weight: 100;
    font: 18pt "Lato", Helvetica, Arial, sans-serif;
    float: left;
  }

  @media screen and (max-width: $break-small) {
    p {
      font-size: 18pt;
      line-height: 32.4pt;
    }
  }
}

.description {
  h1 {
    font-family: "demi";
    font-size: 26px;
  }

  li {
    margin: 7px;
  }

  .right {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.col {
  background: #f2f2f2;

  .center {
    width: 794px;

    p {
      margin-bottom: 50px;
    }
  }
}

.citing {
  font-size: 12px;
}

button[disabled] {
  background: #666 !important;
}

.title {
  .left {
    font-family: "bold";
  }
}

.survey {
  font-family: "bold";
}

.right {
  a {
    img {
      cursor: pointer;
    }
  }
}

.wrapper-mob {
  .content {
    margin-left: 30px;
    margin-right: 30px;
  }

  .left {
    font-size: 30pt;
    font-weight: bold;
    line-height: 50px;
    padding: 30px;
    color: #fff;
  }

  .right {
    img {
      height: 300px;
    }
  }

  .description {
    background: #fff;
    position: relative;

    padding: 30px;

    .left {
      h1 {
        font-size: 30pt;
        line-height: 38pt;
        font-weight: bold;
      }

      li {
        margin-left: -20px;
        font-size: 18pt;
        line-height: 26pt;
      }
    }

    .right {
      img {
        height: 200px;
      }
    }
  }
}
